<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movies</title>
    <style>
        body {
            background-color: #8D5A97;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center">My Movies</h1>
    <ul>
      <% @movies.each do |movie| %>
        <li>
          <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
        </li>
      <% end %>
    </ul>
    <a href="/headFirstRuby/movies/new">Add New Movie</a>
</body>
</html>