<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movies</title>
    <style>
        body {
            background-color: #00ffee;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center">My Movies</h1>
    <ul>
        <li>movies</li>
        <li>go</li>
        <li>here</li>
    </ul>
    <a href="/movies/new">Add New Movie</a>
</body>
</html>